{% extends 'base.html' %}

{% block title %}{{stage.sujet}}{% endblock %}

{% block content %}
    <h4>{{stage.sujet}}</h4>
    <h6>{{stage.entreprise}}
        {% if not stage.done %}
        <span class="label label-danger">Sujet non-pris</span>
        {% endif %}
        {% if stage.confidentiel %}
        <span class="label label-info">Confidentiel</span>
        {% endif %}
    </h6>
    Branche: <strong>{{stage.branche}}</strong><br/>
    Semestre: <strong>{{stage.semestre}}{{stage.semestre_annee}}</strong><br/>
    Niveau: <strong>{{stage.niveau}}</strong><br/>
    Addresse: {{stage.addresse}}<br/>
    <p class="well">
        {{stage.description|linebreaksbr|safe}}
    </p>

{% endblock %}