<strong>Branche</strong>
<p><%= internship.branch_abbreviation %><%= " (" + internship.filiere + ")" if internship.filiere.present? %></p>
<strong>Étudiant</strong>
<p><%= internship.student %></p>
<strong>Descriptif</strong>
<p><%= simple_format(internship.description, {}, sanitize: true) %></p>