<strong>Branche</strong>
<p><%= internship.branch %></p>
<strong>Étudiant</strong>
<p><%= internship.student %></p>
<strong>Descriptif</strong>
<p><%= simple_format(internship.description, {}, sanitize: true) %></p>